{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <table class="table">
        <thead>
            <tr>
                <th class="text-start">Symbol</th>
                <th class="text-end">Shares</th>
                <th class="text-end">Price</th>
                <th class="text-end">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for data in info %}
                <tr>
                    <td class="text-start">{{data["symbol"]}}</th>
                    <td class="text-end">{{data["shares"]}}</th>
                    <td class="text-end">{{data["price"]}}</th>
                    <td class="text-end">{{data["time"]}}</th>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
